* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(8, 21, 8);

  overflow-x: hidden;
}
.head {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-top: 15px;
  color: rgb(221, 12, 144);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  /* padding: px; */
  align-items: center;
  font-size: large;
  font-weight: 300;
  position: relative;
}
.header-wrapper nav a {
  color: rgb(255, 255, 255);
}
nav {
  display: flex;
  gap: 50px;
  font-weight: 400;
}
a:hover {
  color: rgb(221, 12, 144) !important;
  text-shadow: 0 0 10px rgb(236, 225, 232);
}
a {
  text-decoration: none;
}

button {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  transition: background-color 0.8s margin-left 0.8s;
  border: none;
}

button span {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #999;
  margin-left: 3px;
  transition: background-color 0.8s margin-left 0.8s;
}
.lamp-container {
  position: absolute;
  top: -20px;
  left: 22%;
  width: 200px;
}
.lamp {
  width: 100%;
}

.light {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.8s;
}
.text-wrapper {
  width: 600px;
  position: relative;
  top: 50%;
  right: -50%;
  margin-top: 150px;
  color: white;
  font-weight: 500px;
}
.check {
  width: 200px;
  height: 8px;
  background-color: rgb(221, 12, 144);
  color: #fff;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px !important;
}
.active {
  background-color: rgb(221, 12, 144);
}
.active span {
  margin-left: 30px;
  background-color: white;
}

.on {
  opacity: 1;
}
